.program {
  padding-top: 120px;
  padding-bottom: 200px;

  @include font-main;
  color: $text-color_secondary;

  background-color: $background-color_secondary;
}

.program__inner {
  @include container_desktop;
}

.program__counter {
  margin-bottom: 134px;
}

.program__choice-title {
  margin: 0;
  margin-bottom: 92px;

  font-weight: 500;
  font-size: $font-size_xxl;
  letter-spacing: $letter-spacing_m;
  color: $text-color_title;
  text-align: center;
  text-transform: uppercase;
}

.program__list {
  @include list-reset;
  display: flex;
  align-items: center;
}

.program__item {
  flex-shrink: 1;
  margin-right: 20px;

  &:last-of-type {
    margin-right: 0;
  }
}

.program__link {
  position: relative;

  display: block;

  box-shadow: 0 3px 10px rgba(2, 2, 2, 0.2);

  @include transition;

  img {
    width: 100%;
    object-fit: cover;
    object-position: 0 0;

    @include transition;
  }

  &:hover,
  &:focus {
    .program__text {
      height: 100%;

      background-color: rgba($background-color_primary, 0.3);
    }

    .program__item-title {
      display: none;
    }

    .program__details {
      display: block;
    }
  }

  &:active {
    opacity: 0.5;
  }
}

.program__text {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  padding: 20px 0;

  font-weight: 500;
  font-size: $font-size_xl;
  text-align: center;
  color: $text-color_primary;

  @include transition;
  background-color: rgba($background-color_primary, 0.5);
}

.program__item-title {
  max-width: 66%;
  margin: 0;

  font: inherit;
}

.program__details {
  display: none;
  max-width: 66%;
}

@media (max-width: $max-width_tablet) {
  .program {
    padding-top: 111px;
  }

  .program__inner {
    @include container_tablet;
  }

  .program__counter {
    margin-bottom: 104px;
  }

  .program__choice-title {
    margin-bottom: 75px;

    font-size: $font-size_xl;
    letter-spacing: $letter-spacing_s;
  }

  .program__text {
    padding: 26px 0;

    font-size: $font-size_l;
  }
}

@media (max-width: $max-width_mobile) {
  .program {
    padding-top: 56px;
  }

  .program__inner {
    @include container_mobile;
  }

  .program__counter {
    display: none;
  }

  .program__list-wrapper {
    position: relative;
    left: -8px;

    display: flex;
    width: 100vw;
    min-height: 450px;

    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }

    @include transition;
  }

  .program__choice-title {
    margin-bottom: 47px;

    font-size: $font-size_s;
    letter-spacing: $letter-spacing_xs;
  }

  .program__item {
    margin-right: 15px;

    @include transition;

    &:first-of-type {
      padding-left: 30px;
    }

    &:last-of-type {
      padding-right: 30px;
    }

    img {
      width: auto;
      height: 450px;
    }

    &_off-screen {
      img {
        height: 410px;
      }

      .program__text {
        height: 91px;
        padding-top: 20px;
        padding-bottom: 26px;
      }
    }
  }

  .program__link {
    min-width: 260px;

    overflow: hidden;

    img {
      object-position: 50% 50%;
    }
  }

  .program__text {
    padding-top: 24px;
    padding-bottom: 31px;

    font-size: $font-size_m;
  }
}
